.intro {
    color: rgb(32, 26, 26);
    text-align: center;
    margin-top: 7%;
}
.intro img {
    border-radius: 70%;
    max-width: 30%;
    max-height: 30%;
    border: 7px solid white;
}
body { 
    background: #e9f35a
}
a{
    color: #c0392b
}
.lista-linha {
    padding-left: 0;
    list-style: none;
}
.lista-linha li{
    display: inline-block;
}
.cor-vermelho{
    color:#9b59b6
}